:host {
  width: 100%;
}

ul, li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

li {
  cursor: pointer;
}

.candy-icon {
  line-height: 40px !important;
}

.name {
  flex: 1 1 auto;
}
