<!-- Child nodes -->
<ng-template [ngIf]="!node.children" [ngIfElse]="parent">

  <li class="mat-tree-node leaf" matRipple (click)="onClick()" (contextmenu)="onContextMenu($event)">

    <span class="mat-icon-button">
      <mat-icon class="candy-icon">{{node.icon}}</mat-icon>
    </span>

    <span class="name">{{node.name}}</span>

  </li>

</ng-template>

<!-- Parent nodes -->
<ng-template #parent>

  <li class="mat-tree-node" matRipple>

    <button mat-icon-button matTreeNodeToggle [disabled]="node.children.length === 0" (mousedown)="$event.stopPropagation()">
      <mat-icon>{{expanded ? 'expand_more' : 'chevron_right'}}</mat-icon>
    </button>

    <span class="name" matTreeNodeToggle>{{node.name}}</span>

    <button mat-icon-button *ngIf="node.createAction" (click)="onCreate()" (mousedown)="$event.stopPropagation()">
      <mat-icon>add</mat-icon>
    </button>

  </li>

  <ul *ngIf="expanded">
    <ng-container matTreeNodeOutlet></ng-container>
  </ul>

</ng-template>

<!-- Nodes context menu -->
<div style="visibility: hidden; position: fixed"
     [style.left]="contextMenuPosition.x"
     [style.top]="contextMenuPosition.y"
     [matMenuTriggerFor]="contextMenu">
</div>

<mat-menu #contextMenu="matMenu">

  <ng-template matMenuContent let-node="node">

    <button mat-menu-item *ngIf="node.copyAction" (click)="onCopy()">
      <mat-icon>file_copy</mat-icon>
      Copy
    </button>

    <button mat-menu-item *ngIf="node.deleteAction" (click)="onDelete()">
      <mat-icon>delete</mat-icon>
      Delete
    </button>

  </ng-template>

</mat-menu>
