<!-- Child nodes -->
<li *ngIf="!isParent()" class="mat-tree-node leaf" matRipple (click)="onClick()" (contextmenu)="onContextMenu($event)">

    <span class="mat-icon-button">
      <mat-icon class="candy-icon">{{node.icon}}</mat-icon>
    </span>

    <span class="name">{{node.name}}</span>

</li>

<!-- Parent nodes -->
<li *ngIf="isParent()" class="mat-tree-node" matRipple [class.clickable]="isExpandable()" (click)="onToggleExpand()">

  <button mat-icon-button [disabled]="!isExpandable()" (click)="onToggleExpand()" (mousedown)="$event.stopPropagation()">
    <mat-icon>{{expanded ? 'expand_more' : 'chevron_right'}}</mat-icon>
  </button>

  <span class="name">
    {{node.name}}
  </span>

  <button mat-icon-button *ngIf="node.getCreateAction" (click)="onCreate()" (mousedown)="$event.stopPropagation()">
    <mat-icon>add</mat-icon>
  </button>

</li>

<!-- Nodes context menu -->
<div style="visibility: hidden; position: fixed"
     [style.left]="contextMenuPosition.x"
     [style.top]="contextMenuPosition.y"
     [matMenuTriggerFor]="contextMenu">
</div>

<mat-menu #contextMenu="matMenu">

  <ng-template matMenuContent let-node="node">

    <button mat-menu-item *ngIf="node.getCopyAction" (click)="onCopy()">
      <mat-icon>file_copy</mat-icon>
      Copy
    </button>

    <button mat-menu-item *ngIf="node.getDeleteAction" (click)="onDelete()">
      <mat-icon>delete</mat-icon>
      Delete
    </button>

  </ng-template>

</mat-menu>
