:host {
  width: 100%;
}

.name {
  flex: 1 1 auto;
}

.leaf mat-icon {
  margin: 8px;
}

.leaf, .clickable {
  cursor: pointer;
}

.selected {
  background-color: rgba(0, 0, 0, 0.1);
}

:focus {
  outline: 0 !important;
}
