<!-- Child nodes -->
<li *ngIf="!isParent()" class="mat-tree-node leaf" matRipple [routerLink]="node.route" [routerLinkActive]="'selected'">
  <mat-icon [class]="'candy-icon mdi mdi-' + node.icon"></mat-icon>
  <span class="name">{{node.name}}</span>
</li>

<!-- Parent nodes -->
<li *ngIf="isParent()" class="mat-tree-node" matRipple [class.clickable]="isExpandable()"
    (click)="onToggleExpand($event)">

  <button mat-icon-button [disabled]="!isExpandable()" (click)="onToggleExpand($event)" (mousedown)="$event.stopPropagation()">
    <mat-icon [class]="'mdi mdi-' + (expanded ? 'chevron-down' : 'chevron-right')"></mat-icon>
  </button>

  <span class="name">{{node.name}}</span>

  <button mat-icon-button *ngIf="node.createChild" (click)="onCreate($event)" (mousedown)="$event.stopPropagation()">
    <mat-icon class="mdi mdi-plus"></mat-icon>
  </button>

</li>
