$border-radius: 4px;
$padding: 10px 10px 5px 10px;
$inner-border: dotted #636363 1px;

:host {
  border: solid #636363 1px;
  border-radius: $border-radius;
  max-width: 1080px;
  cursor: move;
}

.header {
  display: flex;
  flex-flow: row wrap;
  padding: $padding;
  border-radius: $border-radius $border-radius 0 0;
  border-bottom: $inner-border;

  .icon-wrapper {
    display: flex;
    align-items: center;
    margin-right: 8px;
  }

  .type {
    width: 300px;
  }

  .marker {
    flex: 1;
    margin: 0 10px 0 20px;
  }

  .mat-button-toggle:not(.mat-button-toggle-checked) {
    border: 0;
    background-color: transparent;
  }

  button {
    min-width: 0;
    padding: 0 12px;
  }
}

.header.green {
  background-color: #f1f8e9;
}

.header.red {
  background-color: #ffebee;
}

.header.blue {
  background-color: #e8eaf6;
}

.header.yellow {
  background-color: #fffde7;
}

header.grey {
  background-color: #eeeeee;
}

.expression {
  border-bottom: $inner-border;
  padding: $padding;
}

.body {
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  padding: $padding;
  border-radius: $border-radius;
  background-color: white;
}

.body > * {
  margin: 3px;
}

textarea {
  height: 75px;
  resize: none;
}

ak-select-entity {
  width: 500px;
}
