<div class="wrapper" [@fadeIn]="animationState" [formGroup]="form">

  <div class="header" [class]="type.header">

    <ng-content select="[slot=drag-handle]"></ng-content>

    <span class="index">#{{index}}</span>

    <mat-icon [svgIcon]="type.icon" class="type-icon"></mat-icon>

    <mat-label class="type">{{type.text}}</mat-label>

    <mat-form-field class="reference">

      <mat-label>Reference</mat-label>
      <input matInput formControlName="reference" [required]="referenced">

      <mat-error *ngIf="form.get('reference').hasError('alreadyUsed')">
        Another command already use this reference name
      </mat-error>

      <mat-error *ngIf="form.get('reference').hasError('required')">
        Command is referenced for a jump, reference can't be removed
      </mat-error>

    </mat-form-field>

    <mat-button-toggle-group multiple="true" formControlName="displayedSections">

      <mat-button-toggle value="condition">
        <mat-icon svgIcon="square-root"></mat-icon>
      </mat-button-toggle>

      <mat-button-toggle value="body">
        <mat-icon svgIcon="card-bulleted"></mat-icon>
      </mat-button-toggle>

    </mat-button-toggle-group>

    <button mat-icon-button [matMenuTriggerFor]="commandMenu">
      <mat-icon svgIcon="dots-vertical"></mat-icon>
    </button>

  </div>

  <div *ngIf="command.displayedSections.includes('condition')" class="condition">
    Not implemented yet
  </div>

  <div *ngIf="command.displayedSections.includes('body')" class="body" [formGroup]="form.get('parameters')">

    <mat-checkbox *ngIf="type.parameters.includes('waitForPlayer')" formControlName="waitForPlayer">
      Wait for player click to continue
    </mat-checkbox>

    <mat-checkbox *ngIf="type.parameters.includes('fullscreen')" formControlName="fullscreen">
      Fullscreen
    </mat-checkbox>

    <ak-select-asset required *ngIf="type.parameters.includes('picture')" type="image" formControlName="picture">
      Image file
    </ak-select-asset>

    <mat-form-field *ngIf="type.parameters.includes('text')">
      <textarea matInput matTextareaAutosize [matAutosizeMaxRows]="4" placeholder="Text" formControlName="text"></textarea>
    </mat-form-field>

    <ak-select-entity *ngIf="type.parameters.includes('sceneId')" type="scene" formControlName="sceneId">
      Scene
    </ak-select-entity>

    <mat-form-field *ngIf="type.parameters.includes('toCommand')" class="toCommand">

      <mat-label>Command</mat-label>
      <mat-select formControlName="toCommand">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let reference of selectableReferences" [value]="reference.commandId">
          {{reference.text}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div *ngIf="type.parameters.includes('choices')" class="choices">

      <div *ngFor="let choice of choices.controls; let i = index" [formGroup]="choice" class="choice">

        <mat-form-field class="choice-text">
          <textarea matInput matTextareaAutosize placeholder="Text" formControlName="text"></textarea>
        </mat-form-field>

        <mat-form-field class="toCommand">
          <mat-label>Jump to command</mat-label>
          <mat-select formControlName="toCommand">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let reference of selectableReferences" [value]="reference.commandId">
              {{reference.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div class="buttons">

          <button mat-icon-button color="warn" (click)="onDeleteChoice(i)">
            <mat-icon svgIcon="delete-forever"></mat-icon>
          </button>

          <button mat-icon-button *ngIf="i > 0" (click)="onMoveChoiceUp(i)">
            <mat-icon svgIcon="chevron-up"></mat-icon>
          </button>

          <button mat-icon-button *ngIf="i < choices.controls.length - 1" (click)="onMoveChoiceDown(i)">
            <mat-icon svgIcon="chevron-down"></mat-icon>
          </button>

        </div>

      </div>

      <button mat-raised-button color="primary" (click)="onAddChoice()">
        <mat-icon svgIcon="plus"></mat-icon>
        Add choice
      </button>

    </div>

  </div>

</div>

<mat-menu #commandMenu="matMenu">

  <button mat-menu-item (click)="onMoveToStart()">
    <mat-icon svgIcon="chevron-double-up"></mat-icon>
    Move to start
  </button>

  <button mat-menu-item (click)="onMoveToPosition()">
    <mat-icon svgIcon="unfold-more-horizontal"></mat-icon>
    Move to position...
  </button>

  <button mat-menu-item (click)="onMoveToEnd()">
    <mat-icon svgIcon="chevron-double-down"></mat-icon>
    Move to end
  </button>

  <button mat-menu-item (click)="onDuplicate()">
    <mat-icon svgIcon="plus-circle-multiple-outline"></mat-icon>
    Duplicate
  </button>

  <button mat-menu-item (click)="onDelete()">
    <mat-icon svgIcon="delete-forever" color="warn"></mat-icon>
    <span class="menu-delete">Delete command</span>
  </button>

</mat-menu>
