<ng-container [formGroup]="form">

  <mat-toolbar class="header" [class]="selectedType().header">

    <span class="index">#{{index}}</span>

    <mat-icon [svgIcon]="selectedType().icon" class="type-icon"></mat-icon>

    <mat-form-field class="type">
      <mat-label>Command</mat-label>
      <mat-select formControlName="type">

        <mat-option *ngFor="let type of types" [value]="type.type">
          <mat-icon [svgIcon]="type.icon"></mat-icon>
          {{type.text}}
        </mat-option>

      </mat-select>
    </mat-form-field>

    <mat-form-field class="marker">

      <mat-label>Marker</mat-label>
      <input matInput formControlName="marker">

      <mat-error *ngIf="form.get('marker').hasError('marker')">
        This marker is already used in another command
      </mat-error>

    </mat-form-field>

    <mat-button-toggle-group multiple="true" formControlName="displayedSections">

      <mat-button-toggle value="condition">
        <mat-icon svgIcon="square-root"></mat-icon>
      </mat-button-toggle>

      <mat-button-toggle value="body">
        <mat-icon svgIcon="card-bulleted"></mat-icon>
      </mat-button-toggle>

    </mat-button-toggle-group>

    <button mat-icon-button [matMenuTriggerFor]="commandMenu">
      <mat-icon svgIcon="dots-vertical"></mat-icon>
    </button>

  </mat-toolbar>

  <div *ngIf="value.displayedSections.includes('condition')" class="condition">
    Not implemented yet
  </div>

  <div *ngIf="value.displayedSections.includes('body')" class="body" [formGroup]="form.get('parameters')">

    <mat-checkbox *ngIf="selectedType().parameters.includes('waitForPlayer')" formControlName="waitForPlayer">
      Wait for player click to continue
    </mat-checkbox>

    <mat-checkbox *ngIf="selectedType().parameters.includes('fullscreen')" formControlName="fullscreen">
      Fullscreen
    </mat-checkbox>

    <ak-select-asset required *ngIf="selectedType().parameters.includes('picture')" type="image" formControlName="picture">
      Image file
    </ak-select-asset>

    <mat-form-field *ngIf="selectedType().parameters.includes('text')">
      <textarea matInput placeholder="Text" formControlName="text"></textarea>
    </mat-form-field>

    <ak-select-entity *ngIf="selectedType().parameters.includes('sceneId')" type="scene" formControlName="sceneId">
      Scene
    </ak-select-entity>

  </div>

</ng-container>

<mat-menu #commandMenu="matMenu">

  <button mat-menu-item (click)="onMoveToStart()">
    <mat-icon svgIcon="chevron-double-up"></mat-icon>
    Move to start
  </button>

  <button mat-menu-item (click)="onMoveToPosition()">
    <mat-icon svgIcon="unfold-more-horizontal"></mat-icon>
    Move to position...
  </button>

  <button mat-menu-item (click)="onMoveToEnd()">
    <mat-icon svgIcon="chevron-double-down"></mat-icon>
    Move to end
  </button>

  <button mat-menu-item (click)="onDuplicate()">
    <mat-icon svgIcon="plus-circle-multiple-outline"></mat-icon>
    Duplicate
  </button>

  <button mat-menu-item (click)="onDelete()">
    <mat-icon svgIcon="delete-forever" color="warn"></mat-icon>
    <span class="menu-delete">Delete command</span>
  </button>

</mat-menu>
