@import '~@angular/material/theming';
@import '../../../../assets/styles/theme';

$padding: 10px;
$inner-border: dotted #636363 1px;
$border-radius: 4px;
$param-width: 500px;
$placeholder-color: rgba(0, 0, 0, 0.54);

.wrapper {
  border: solid #636363 1px;
  border-radius: $border-radius;
  max-width: 1080px;

  > * {
    padding: $padding;
    border-radius: 0 0 $border-radius $border-radius;
  }
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: $border-radius !important;

  .index {
    width: auto;
    margin-right: 8px;
    font-size: 16px;
    color: $placeholder-color;
  }

  .type-icon {
    margin-right: 8px;
  }

  .type {
    width: 300px;
  }

  .reference {
    flex: 1;
    margin: 0 10px 0 20px;
  }

  .mat-button-toggle-group {
    border: 0;
  }

  .mat-button-toggle {
    border-left: 0 !important;
  }

  .mat-button-toggle:not(.mat-button-toggle-checked) {
    border: 0;
    background-color: transparent;
  }
}

.header.green {
  background-color: #f1f8e9;
}

.header.red {
  background-color: #ffebee;
}

.header.blue {
  background-color: #e8eaf6;
}

.header.yellow {
  background-color: #fffde7;
}

header.grey {
  background-color: #eeeeee;
}

.condition {
  border-top: $inner-border;
}

.body {
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  border-top: $inner-border;
  background-color: white;

  > * {
    margin: 3px;
  }

  ak-select-entity,
  .toCommand {
    width: $param-width;
  }

  .choices > :nth-child(even):not(button) {
    background-color: #eeeeee;
  }

  .choices > button {
    margin-top: 5px;
  }

  .choice {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 5px 10px 0 10px;
    margin-bottom: 10px;

    .choice-text {
      width: 100%;
    }
  }
}

.menu-delete {
  color: mat-color($candy-app-warn);
}
