<ng-container [formGroup]="form">

  <div class="header" [class.green]="isGreenHeader()" [class.red]="isRedHeader()">

    <mat-form-field class="type">
      <mat-label>Command</mat-label>
      <mat-select formGroupName="type">
        <mat-option value="displayText">Display text</mat-option>
        <mat-option value="hideText">Hide text</mat-option>
        <mat-option value="displayPicture">Display picture</mat-option>
        <mat-option value="startScene">Start scene</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="comment">
      <mat-label>Comment</mat-label>
      <input matInput formGroupName="comment">
    </mat-form-field>

    <button mat-button class="delete" (click)="onDelete()">
      <mat-icon>delete_forever</mat-icon>
    </button>

  </div>

  <div class="body">

    <mat-checkbox *ngIf="isDisplayPictureCommand() || isDisplayTextCommand() || isHideTextCommand()" formGroupName="parameters.waitForPlayer">
      Wait for player click to continue
    </mat-checkbox>

    <mat-checkbox *ngIf="isDisplayPictureCommand()" formGroupName="parameters.fullscreen">
      Fullscreen
    </mat-checkbox>

    <ak-select-asset required *ngIf="isDisplayPictureCommand()" type="image" formGroupName="parameters.picture">
      Image file
    </ak-select-asset>

    <mat-form-field *ngIf="isDisplayTextCommand()">
      <textarea matInput placeholder="Text" formGroupName="parameters.text"></textarea>
    </mat-form-field>

    <ak-select-entity *ngIf="isStartSceneCommand()" type="scene" formGroupName="parameters.sceneId">
      Scene
    </ak-select-entity>

  </div>

</ng-container>
