<!-- Child nodes -->
<li *ngIf="!isParent()" class="mat-tree-node leaf" matRipple [routerLink]="node.route" [routerLinkActive]="'selected'">

    <span class="mat-icon-button">
      <mat-icon class="candy-icon">{{node.icon}}</mat-icon>
    </span>

    <span class="name">{{node.name}}</span>

</li>

<!-- Parent nodes -->
<li *ngIf="isParent()" class="mat-tree-node" matRipple [class.clickable]="isExpandable()" (click)="onToggleExpand()">

  <button mat-icon-button [disabled]="!isExpandable()" (click)="onToggleExpand()" (mousedown)="$event.stopPropagation()">
    <mat-icon>{{expanded ? 'expand_more' : 'chevron_right'}}</mat-icon>
  </button>

  <span class="name">
    {{node.name}}
  </span>

  <button mat-icon-button *ngIf="node.createChild" (click)="onCreate()" (mousedown)="$event.stopPropagation()">
    <mat-icon>add</mat-icon>
  </button>

</li>
