<ng-keyboard-shortcuts [shortcuts]="shortcuts"></ng-keyboard-shortcuts>

<div class="page" [class.blur]="windowOpen$ | async">
  <router-outlet></router-outlet>
</div>

<div class="overlay" *ngIf="displaySaveMenu$ | async">
  <ak-save mode="save"></ak-save>
</div>

<div class="overlay" *ngIf="displayLoadMenu$ | async">
  <ak-save mode="load"></ak-save>
</div>

<div class="overlay" *ngIf="displaySettings$ | async">
  <ak-settings></ak-settings>
</div>

<div class="overlay" *ngIf="displayError$ | async">
  <ak-error></ak-error>
</div>
