// 16/9
$ratio: 0.5625;

@mixin resize($width, $height) {
  width: $width;
  height: $height;
  font-size: calc(#{$height} * 0.035);
}

:host {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media (orientation: landscape) {
    $width: calc(100vh / #{$ratio}); // height + ratio difference
    $height: 100vh;
    @include resize($width, $height);
  }

  // Portrait, or landscape when height > (width - ratio difference)
  @media (orientation: portrait), (orientation: landscape) and (min-height: calc(100vw * #{$ratio})) {
    $width: 100vw;
    $height: calc(100vw * #{$ratio}); // width - ratio difference
    @include resize($width, $height);
  }
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
}

.blur {
  filter: blur(0.5em);
}

.overlay {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
