:host {
  max-height: 90%;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  position: relative;
  width: 20em;
  padding: 1em;
}

::-webkit-scrollbar {
  display: none;
}

.no-saves {
  color: grey;
  padding: 0.3em 3em;
  text-align: center;
}

.saves {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}

.save {
  display: flex;
  flex-direction: row;
  padding: 1em;

  .thumb {
    height: 6em;
  }
}

.save:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.25);
}

.save:hover .thumb {
  opacity: 0.5;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  text-align: center;
  padding: 0.3em 3em;
}

.button:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.25);
}
