:host {
  max-height: 90%;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  position: relative;
  width: 75%;
  padding: 1em;
}

::-webkit-scrollbar {
  display: none;
}

.no-saves {
  color: grey;
  padding: 0.3em 3em;
  text-align: center;
}

.saves {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: scroll;
  width: 100%;
}

.save {
  display: flex;
  flex-direction: row;
  padding: 1em;

  .thumb {
    flex: 1;
    height: 6em;
  }

  .details {
    padding: 1em;
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .buttons {
    flex: 1;
  }
}

.save:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.25);
}

.save:hover .thumb {
  opacity: 0.5;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button {
  text-align: center;
  padding: 0.3em 3em;
}

.button.delete:hover {
  color: red;
}

.button:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.25);
}
