:host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.logo {
  height: 500px;
  margin-left: -200px;
  margin-right: 40px;
}

.logo img {
  width: 200px;
}

.content {
  width: 200px;
  height: 500px;
}
