<mat-form-field [formGroup]="form">

  <mat-label>
    <ng-content></ng-content>
  </mat-label>

  <input matInput readonly [required]="required" (click)="selectFile()" formControlName="file">

  <button mat-button matSuffix mat-icon-button *ngIf="value" (click)="value = null">
    <mat-icon svgIcon="close"></mat-icon>
  </button>

  <button mat-button matSuffix color="primary" class="select" (click)="selectFile()">
    Select
  </button>

  <mat-hint>Only assets under the <b>assets</b> directory can be selected</mat-hint>

</mat-form-field>
