<mat-toolbar color="primary">

  <button mat-raised-button color="warn" [matMenuTriggerFor]="rootMenu">
    <mat-icon>menu</mat-icon>
  </button>

  <button mat-raised-button disabled>
    <mat-icon>play_arrow</mat-icon>
    Run game
  </button>

  <button mat-raised-button disabled>
    <mat-icon>build</mat-icon>
    Build game
  </button>

  <span class="spacer"></span>

  <button mat-raised-button color="accent" disabled>
    <mat-icon>report_problem</mat-icon>
    Problems
  </button>

</mat-toolbar>

<mat-menu #rootMenu="matMenu">

  <button mat-menu-item (click)="onNew()">
    <mat-icon>create_new_folder</mat-icon>
    New
  </button>

  <button mat-menu-item (click)="onOpen()">
    <mat-icon>drive_file_move_outline</mat-icon>
    Open
  </button>

  <mat-divider></mat-divider>

  <button mat-menu-item (click)="onSave()">
    <mat-icon>save_alt</mat-icon>
    Save
  </button>

  <button mat-menu-item (click)="onSaveAs()">
    <mat-icon></mat-icon>
    Save as...
  </button>

  <mat-divider></mat-divider>

  <button mat-menu-item disabled>
    <mat-icon>library_books</mat-icon>
    Documentation
  </button>

  <button mat-menu-item disabled>
    <mat-icon>help</mat-icon>
    About
  </button>

  <mat-divider></mat-divider>

  <button mat-menu-item disabled>
    <mat-icon>exit_to_app</mat-icon>
    Quit
  </button>

</mat-menu>
