form {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  background-color: white;
  border: solid #636363 1px;
  border-radius: 4px;
}

.name {
  width: 30%;
  margin-right: 20px;
}

.file {
  flex: 1;
  margin-right: 20px;
}
