<mat-toolbar color="primary">

  <button mat-icon-button [matMenuTriggerFor]="rootMenu">
    <mat-icon class="mdi mdi-menu"></mat-icon>
  </button>

  <button *ngIf="project$ | async" mat-raised-button [disabled]="building$ | async" (click)="onBuildGame()">
    <mat-icon class="mdi mdi-hammer-wrench"></mat-icon>
    Build game
  </button>

  <span class="spacer"></span>

</mat-toolbar>

<mat-progress-bar *ngIf="!(loading$ | async)" color="primary" mode="determinate" [value]="100"></mat-progress-bar>
<mat-progress-bar *ngIf="loading$ | async" color="primary" mode="indeterminate"></mat-progress-bar>

<mat-menu #rootMenu="matMenu">

  <button mat-menu-item [disabled]="building$ | async" (click)="onCreate()">
    <mat-icon class="mdi mdi-folder-plus"></mat-icon>
    New project...
  </button>

  <button mat-menu-item [disabled]="building$ | async" (click)="onOpen()">
    <mat-icon class="mdi mdi-folder-open"></mat-icon>
    Open...
  </button>

  <button mat-menu-item *ngIf="project$ | async" [disabled]="building$ | async" (click)="onClose()">
    <mat-icon class="mdi mdi-close"></mat-icon>
    Close
  </button>

  <mat-divider *ngIf="project$ | async"></mat-divider>

  <button mat-menu-item *ngIf="project$ | async" [disabled]="building$ | async" (click)="onOpenDistDir()">
    <mat-icon class="mdi mdi-folder-cog-outline"></mat-icon>
    Open build folder
  </button>

  <mat-divider></mat-divider>

  <button mat-menu-item (click)="onOpenDocumentation()">
    <mat-icon class="mdi mdi-book-open-variant"></mat-icon>
    Documentation
  </button>

  <button mat-menu-item (click)="onOpenContributors()">
    <mat-icon class="mdi mdi-heart"></mat-icon>
    Contributors
  </button>

  <button mat-menu-item disabled>
    <mat-icon class="mdi mdi-help-circle"></mat-icon>
    About
  </button>

  <mat-divider></mat-divider>

  <button mat-menu-item (click)="onQuit()">
    <mat-icon class="mdi mdi-exit-to-app"></mat-icon>
    Quit
  </button>

</mat-menu>
