<mat-toolbar color="primary">

  <button mat-icon-button [matMenuTriggerFor]="rootMenu">
    <mat-icon>menu</mat-icon>
  </button>

  <button *ngIf="project" mat-raised-button (click)="onBuildGame()">
    <mat-icon>build</mat-icon>
    Build game
  </button>

  <span class="spacer"></span>

</mat-toolbar>

<mat-progress-bar *ngIf="!loading" color="primary" mode="determinate" [value]="100"></mat-progress-bar>
<mat-progress-bar *ngIf="loading" color="primary" mode="indeterminate"></mat-progress-bar>

<mat-menu #rootMenu="matMenu">

  <button mat-menu-item (click)="onCreate()">
    <mat-icon>create_new_folder</mat-icon>
    New project
  </button>

  <button mat-menu-item (click)="onOpen()">
    <mat-icon>drive_file_move_outline</mat-icon>
    Open
  </button>

  <button mat-menu-item [disabled]="!project" (click)="onClose()">
    <mat-icon>close</mat-icon>
    Close
  </button>

  <mat-divider></mat-divider>

  <button mat-menu-item disabled>
    <mat-icon>library_books</mat-icon>
    Documentation
  </button>

  <button mat-menu-item disabled>
    <mat-icon>help</mat-icon>
    About
  </button>

  <mat-divider></mat-divider>

  <button mat-menu-item (click)="onQuit()">
    <mat-icon>exit_to_app</mat-icon>
    Quit
  </button>

</mat-menu>
