$border-radius: 6px;
$padding: 10px 10px 5px 10px;

:host {
  border: solid #636363 1px;
  border-radius: $border-radius;
}

.header {
  display: flex;
  flex-direction: row;
  padding: $padding;
  background-color: #F0FFF0;
  border-radius: $border-radius $border-radius 0 0;
  border-bottom: dotted #636363 1px;
}

.body {
  padding: $padding;
  border-radius: $border-radius;
}

.type {
  width: 300px;
}

.comment {
  flex: 1;
  margin-left: 20px;
}
