$border-radius: 4px;
$padding: 10px 10px 5px 10px;

:host {
  border: solid #636363 1px;
  border-radius: $border-radius;
  max-width: 1080px;
  cursor: move;
}

.header {
  display: flex;
  flex-direction: row;
  padding: $padding;
  background-color: #F0FFF0;
  border-radius: $border-radius $border-radius 0 0;
  border-bottom: dotted #636363 1px;
}

.body {
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  padding: $padding;
  border-radius: $border-radius;
  background-color: white;
}

.body > * {
  margin: 3px;
}

.type {
  width: 300px;
}

.comment {
  flex: 1;
  margin: 0 10px 0 20px;
}

.delete {
  min-width: 0;
  padding: 0 8px;
}

textarea {
  height: 75px;
  resize: none;
}
