<mat-toolbar>

  <span class="spacer"></span>

  <button mat-raised-button color="warn" (click)="onDeleteScene()">
    <mat-icon svgIcon="delete-forever"></mat-icon>
    Delete scene
  </button>

</mat-toolbar>

<form [formGroup]="sceneForm">

  <mat-form-field>
    <mat-label>Scene name</mat-label>
    <input matInput formControlName="name" required>
  </mat-form-field>

  <div class="command-list" cdkDropList (cdkDropListDropped)="onDropCommand($event)" cdkDropListAutoScrollDisabled=0>
    <ak-command cdkDrag *ngFor="let command of commands.controls; let i = index"
                [formControl]="$any(command)"
                [references]="references"
                [referenced]="referencedCommands.includes(command.value.id)"
                [index]="i"
                (moveToStart)="onMoveCommandToStart($event)"
                (moveToEnd)="onMoveCommandToEnd($event)"
                (moveToPosition)="onMoveCommandToPosition($event.command, $event.index)"
                (duplicate)="onDuplicate($event)"
                (delete)="onDeleteCommand($event)">
    </ak-command>
  </div>

  <button mat-raised-button color="primary" class="add-command" (click)="onAddCommand()">
    <mat-icon svgIcon="plus"></mat-icon>
    Add command
  </button>

</form>
