.scene-loading {
  opacity: 0.5;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

form {
  display: flex;
  flex-direction: column;
  margin: 30px 50px;
}


mat-form-field {
  width: 500px;
}

.comments {
  width: 100%;
}

.scene-design {
  display: flex;
  flex-direction: row;
}

.emptyMessage {
  margin-top: 200px;
  text-align: center;
}

.scene-commands {
  flex: 1;
  justify-self: stretch;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.palette {
  align-self: flex-start;
  position: sticky;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  width: 250px;
  padding: 30px 0 30px 50px;
}

.available-command {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  padding: 5px;
  border: solid 1px grey;
  cursor: move;
  user-select: none;

  .text {
    flex: 1;
    margin-left: 10px;
  }
}

ak-command {
  margin-bottom: 30px;
}

.add-command {
  align-self: flex-start;
}

.cdk-drag-preview {
  box-sizing: border-box;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.palette .cdk-drag-placeholder {
  opacity: 1;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.scene-commands.cdk-drop-list-dragging ak-command:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.spacer {
  flex: 1 1 auto;
}

.drag-handle {
  cursor: move;
}

.green {
  background-color: #f1f8e9;
}

.red {
  background-color: #ffebee;
}

.blue {
  background-color: #e8eaf6;
}

.yellow {
  background-color: #fffde7;
}

.grey {
  background-color: #eeeeee;
}
