<mat-toolbar>

  <span *ngIf="sceneLoading" class="scene-loading">Scene is loading...</span>
  <span class="spacer"></span>

  <button mat-raised-button color="warn" (click)="onDeleteScene()">
    <mat-icon svgIcon="delete-forever"></mat-icon>
    Delete scene
  </button>

</mat-toolbar>

<form [formGroup]="sceneForm">

  <mat-form-field>
    <mat-label>Scene name</mat-label>
    <input matInput formControlName="name" required>
  </mat-form-field>

  <mat-form-field class="comments">
    <textarea matInput
              matTextareaAutosize
              [matAutosizeMaxRows]="4"
              placeholder="Comments"
              formControlName="comments">
    </textarea>
  </mat-form-field>

  <div class="scene-design">

    <div id="scene-commands"
         class="scene-commands"
         cdkDropList
         #sceneCommands="cdkDropList"
         (cdkDropListDropped)="onDropCommand($event)">

      <ak-command *ngFor="let command of commands.controls; let i = index"
                  cdkDrag
                  [cdkDragData]="null"
                  [cdkDragDisabled]="sceneLoading"
                  [formControl]="$any(command)"
                  [references]="references"
                  [referenced]="referencedCommands.includes(command.value.id)"
                  [index]="i"
                  (moveToStart)="onMoveCommandToStart($event)"
                  (moveToEnd)="onMoveCommandToEnd($event)"
                  (moveToPosition)="onMoveCommandToPosition($event.command, $event.index)"
                  (duplicate)="onDuplicate($event)"
                  (delete)="onDeleteCommand($event)">
        <mat-icon svgIcon="drag-vertical" cdkDragHandle slot="drag-handle" class="drag-handle"></mat-icon>
      </ak-command>

      <div *ngIf="commands.controls.length === 0" class="emptyMessage">
        Drag & drop commands here
      </div>

    </div>

    <div id="palette"
         class="palette"
         cdkDropList
         cdkDropListSortingDisabled
         [cdkDropListConnectedTo]="[sceneCommands]">

      Available commands

      <div *ngFor="let command of availableCommands; let i = index"
           cdkDrag
           [cdkDragData]="{
             index: i,
             type: command.type
           }"
           [class]="'available-command ' + command.header"
           (cdkDragMoved)="onAvailableCommandDragMoved($event)"
           (cdkDragEntered)="onAvailableCommandDragEntered($event)"
           (cdkDragDropped)="onAvailableCommandDragDropped($event)"
           (cdkDragEnded)="onAvailableCommandDragEnded($event)">

        <mat-icon [svgIcon]="command.icon"></mat-icon>
        <div class="text">{{ command.text }}</div>

      </div>
    </div>

  </div>

</form>
