<mat-tab-group [selectedIndex]="openNodes.indexOf(activeNode)" (selectedIndexChange)="onSelect($event.valueOf())" class="content-tabs">

  <mat-tab *ngFor="let node of openNodes" style="padding: 0 12px !important;">

    <ng-template mat-tab-label>

      <mat-icon class="node-icon">{{node.icon}}</mat-icon>
      <span class="node-name">{{node.name}}</span>

      <button mat-icon-button (click)="onClose(node)" (mousedown)="$event.stopPropagation()">
        <mat-icon>close</mat-icon>
      </button>

    </ng-template>

    <router-outlet></router-outlet>

  </mat-tab>

</mat-tab-group>
