.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}

ak-pause-menu {
  position: absolute;
}

.canva {

  img {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }

  img.fullscreen {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
}

.text-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 25%;
  box-sizing: border-box;
  padding: 2% 10%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.choice-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: safe center;
  align-content: center;
  top: 5%;
  left: 20%;
  right: 20%;
  height: 90%;
  box-sizing: border-box;

  ::-webkit-scrollbar {
    display: none;
  }

  .choice-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: scroll;

    .choice {
      padding: 0.1em 4em;
      margin: 1em 0;
      text-align: center;
      background-color: rgba(0, 0, 0, 0.5);
    }

    .choice:hover {
      cursor: pointer;
      background: rgba(255, 255, 255, 0.25);
    }
  }
}

.choice-container.reduced {
  height: 65%;
}
