<div class="wrapper">

  <div class="canva">
    <img *ngIf="pictureUrl" src="{{pictureUrl}}" [class.fullscreen]="fullscreen" (click)="nextCommand()"/>
  </div>

  <div *ngIf="textVisible" class="text-container" [innerHTML]="textContent" (click)="nextCommand()"></div>

  <div *ngIf="playerChoices" class="choice-container" [class.reduced]="textVisible">
    <div class="choice-wrapper">
      <div *ngFor="let choice of playerChoices" class="choice" (click)="onChoiceClick(choice)">
        {{choice.text}}
      </div>
    </div>
  </div>

</div>

<ak-pause-menu *ngIf="showPauseMenu" (close)="onPauseMenuClosed()"></ak-pause-menu>
