:host {
  background: rgba(0, 0, 0, 0.75);
}

.tabs {
  display: flex;
  flex-direction: row;
  justify-content: stretch;

  .tab {
    flex-grow: 1;
  }

  .tab.selected {
    background: rgba(255, 255, 255, 0.125);
  }
}

.settings {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 20em;
  width: 30em;
  padding: 1em;

  .setting {
    margin-bottom: 1em;
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button,
.tab {
  text-align: center;
  padding: 0.3em 3em;
}

.button:hover,
.tab:hover:not(.selected) {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.25);
}
