h1 {
  text-align: center;

  mat-icon {
    color: red;
    width: 64px;
    height: 64px;
  }
}

mat-dialog-content {
  min-width: 480px;
  padding-bottom: 5px;
}

.error-message {
  font-size: larger;
  font-weight: bolder;
  margin: 15px 0;
}

.error-details pre {
  max-height: 400px;
  overflow: auto;
}
