<h1>
  <mat-icon svgIcon="emoticon-dead-outline"></mat-icon>
</h1>

<mat-dialog-content>

  An unexpected error occurred:
  <div class="error-message">{{error.message}}</div>

  <mat-expansion-panel class="error-details">

    <mat-expansion-panel-header>
      <mat-panel-title>
        Error details
      </mat-panel-title>
    </mat-expansion-panel-header>

    <pre>{{error.stack}}</pre>

  </mat-expansion-panel>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close cdkFocusInitial (click)="onClose()">Close</button>
</mat-dialog-actions>
